<%- include('../partials/header', {event: "auth" })%>
    <section class="settings-section text-left container-fluid">
        <h5 class="greeting-name">Hi, <strong>
                <%= user.username %>
            </strong></h5>
        <div id="settings-accordion">
            <!-- Your amoors toggle -->
            <h5 class="settings-subtitle">
                <button class="btn settings-subtitle-btn collapsed" data-toggle="collapse" data-target="#your-amoors"
                    aria-expanded="false" aria-controls="your-amoors">
                    > Your amoors
                </button>
            </h5>
            <div id="your-amoors" data-parent="#settings-accordion">
                <%if (user.amoors.length <=0 ){%>
                    <h5 class="your-amoors-msg">You haven't shared any amoor yet :(</h5>

                    <!-- All the amoors created by an user -->
                    <%} else { %>
                        <% user.amoors.forEach((amoor, index)=> { %>
                            <div class="amoor-item">
                                <p>
                                    <%= amoor.name1 %> & <%= amoor.name2 %>
                                </p>
                                <div class="amoor-crud">
                                    <a href="/amoors/<%= amoor.id %>/edit" name="edit" value="<%= amoor.id %>"
                                        class="btn-outline btn-crud"> Edit </a>
                                    <form action="/amoors/<%=amoor.id%>?_method=DELETE" method="POST">
                                        <button class="btn-dark btn-crud">Delete</button>
                                    </form>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>
            </div>
            <%- include('../partials/faq') %>
            <div class="settings-logout">
                <a class="btn btn-dark" href="/users/logout" role="button">Log out</a>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>