<%- include('../partials/header.ejs', {event: "non-auth" }) %>

<section class="signup-section container-fluid">
  <div class="row  center-row">
    <div class="col-lg-10 col-md-6 col-sm-9">
      <%- include ('../partials/messages') %>
      <form id="signup-form" action="/users/signup" method="POST">
        <div class="form-group row">
          <input type="name" class="form-control col-lg-5" name="username" placeholder="Username" value="<%= typeof username != 'undefined' ? username : '' %>">
          <input type="email" class="form-control col-lg-5" name="email" placeholder="E-mail" value="<%= typeof email != 'undefined' ? email : '' %>">
          <input type="password" class="form-control col-lg-5" name="password" placeholder="Password" value="<%= typeof email != 'undefined' ? password : '' %>">
          <input type="password" class="form-control col-lg-5" name="passwordConfirmation" placeholder="Confirm password" value="<%= typeof email != 'undefined' ? passwordConfirmation : '' %>">
        </div>
        <button type="submit" class="btn btn-dark">Sign up</button>
      </form>
      <div class="option-msg">Already have an account? Login <a href="/users/signin"><strong>here</strong></a> :)</div>
    </div>
    </div>
</section>

<%- include('../partials/footer') %>
