<%- include('../partials/header.ejs', {event: "non-auth" }) %>

  <section class="signin-section container-fluid">
    <div class="row signin-row center-row">
      <div class="col-lg-10 col-md-6 col-sm-9">
        <%- include ('../partials/messages') %>
          <form id="signin-form" action="/users/signin" method="POST" autocomplete="off">
            <div class="form-group row">
              <input id="si-email" type="text" class="form-control col-lg-5" name="username"
                placeholder="Username or E-mail" value="<%= typeof username != 'undefined' ? username : '' %>"
                autocomplete="off">
              <input id="si-password" type="password" class="form-control col-lg-5" name="password"
                placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-dark">Sign in</button>
          </form>
          <div class="option-msg">Don't have an account yet? Register <a
              href="/users/signup">
              <strong>here</strong></a> :)
          </div>
      </div>
    </div>
  </section>

  <%- include('../partials/footer.ejs') %>